.header-image {
    background-image: url(../images/the-flatiron-building.png);
    text-align: center;
    color: white;
}

.btn-nav {

    font-size: 18px;
    color: white;
}

.supporting {
    text-align: center;
}

h2 {

  font-size: 32px;
  font-weight: bold;
  font-family: Helvetica;
}

h3 {

  font-size: 23px;
  font-weight: bold;
  font-family: Helvetica;

}

.supporting-item p {
    font-size: 14px;
    font-family: Helvetica;
}

.mid-image {

  background-image: url(../images/the-flatiron-building.png);
  text-align: center;
  color: white;

}

.mid-image h2 {

    font-family: Helvetica;
    font-size: 23px;
    color: white;
    font-weight: bold;

}

.supporting {
    text-align: center;
}

.supporting h3 {
    font-weight: bold;
    font-size: 23px;


}

.footer {
    background-color: dimgray;
    font-size: 11px;
    color: white;
    font-family: Helvetica;
}
